{% extends 'base.html' %}
{% load static %}
{% block page_title %}Moje Zahrádka: Kontakt{% endblock page_title %}
{% block body %}

<div class="container">
		<h1>Kontaktní formulář</h1>
		<p>
			V případě jakékoliv otázky nás neváhejte kontaktovat
		</p>
		<form method="post">
        {% csrf_token %}
        Jméno: <br>{{ form.first_name }}
        <br><br>
        Příjmení: <br>{{ form.last_name }}
        <br><br>
        Email: <br>{{ form.email_address }}
        <br><br>
        Zpráva: <br>{{ form.message }}
        <br><br>
            <button type="submit">Odeslat</button>
        </form>
    </div>

{% endblock body %}