{% extends 'base.html' %}
{% load static %}
{% block page_title %}Moje Zahrádka: Kontakt{% endblock page_title %}
{% block body %}

<div style="margin:80px">
		<h1>Kontaktní formulář</h1>
		<p>
			V případě jakékoliv otázky nás neváhejte kontaktovat
		</p>
		<form method="post">
        {% csrf_token %}
        Jméno: {{ form.first_name }}
        <br><br>
        Příjmení: {{ form.last_name }}
        <br><br>
        Email: {{ form.email_address }}
        <br><br>
        Zpráva: {{ form.message }}
        <br><br>
            <button type="submit">Odeslat</button>
        </form>
    </div>

{% endblock body %}