{% extends 'base.html' %}
{% block page_title %}Moje zahrádka: Vytvoření zahrady{% endblock page_title %}
{% block body %}

<h1>Vytvoření zahrady</h1><br>
    <div class="row">
  <div class="column left">
      <form action="{{ action_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Název tvoji zahrádky: {{ form.name }}
        <br><br>
        Opiš svoji zahrádku: {{ form.description }}
        <br><br>
        Lokace: {{ form.address }}
        <br><br>
        Foto: {{ form.garden_image }}
        <br><br>
          </div>
<div class="column right">
        Vyber rostliny: {{ form.plant }}
        {{ form.plant.errors }}
        <br><br>
        {% if has_subscription %}gratulujeme{% endif %}
        <input type="submit" value="Uložit">
    </form>
        </div>
    </div>

{% endblock body %}