    {% extends 'base.html' %}
{% block page_title %}Moje zahrádka: Zahrádka{% endblock page_title %}
{% block body %}

<div class="container">
<h1>Moje zahrádka: {{garden.name}}</h1><br>

    <i>>> <a class="text-dark" href="update_garden">Upravit zahradu</a><br>
       >> <a class="text-dark" href="delete_garden"> Vymazat zahradu</a></i>
<br><br>
<!--<div class="row">-->
  <div class="column left">

<i><b><p>Popis zahrádky: {{garden.description}}<br>
Lokace: {{garden.address}}</p></b>
    {% if garden.garden_image %}
Foto: <img src="/media/{{garden.garden_image}}" alt="Foto zahradky" width="230px"></i>
      {% endif %}
      <br>
      <br>
    Ve svojí zahrádce máte tyto rostliny:
{% load static %}
<div style="columns: 100px 3;">

    <ul>
    {% for plant in plants %}
        {% with 'plant_photos/'|add:plant.name|add:'.jpg' as plant_photo %}
        <li>{{ plant.name }}</li>
        {% endwith %}
    {% endfor %}
    </ul>
</div>
</div>
<div class="column right">
    <b>Práce na zahrádce ke dni: {{ date|date:"d.m.Y" }}
 </b><br><br>
Nastav jiné datum:
<form action="{% url 'garden_detail' garden.id %}" method="post">
    {% csrf_token %}
<label> <input type="date" name="calendar"> vybrat datum</label>
    <input type="submit" class="btn btn-outline-secondary" value="Odeslat">
<!--    onclick ajax -->
    </form>



</p>
    {% if events %}
    <h2>Práce na zahrádce:</h2>
 <ul>{% for event in events %}
        <details>
          <summary>{{ event }}</summary>
          <p>{{ event.description }}</p>
        </details>
     {% endfor %}
 </ul>

    {% else %}
    <h2>Práce na zahrádce:</h2>
V toto datum nemáte na zahradě žádné práce :-)
{% endif %}
</p>
    </div>
    </div>
</div>
{% endblock body %}