{% extends 'base.html' %}
{% block page_title %}Zahrádka{% endblock page_title %}
{% block body %}

<h1>Moje zahrádka</h1><br>

<a class="text-dark" href="update_garden">Uprav si svoji zahradu</a>
<a class="text-dark" href="delete_garden">Vymazat zahradu</a>

<h4>Meno zahradky: {{garden.name}}</h4>
<p>Popis zahradky: {{garden.description}}</p>
<p>Lokace: {{garden.address}}</p>
<p>
    V zahrádce máte tito rostliny:
{% load static %}

    <ul>
    Rostliny:
    {% for plant in plants %}
        {% with 'plant_photos/'|add:plant.name|add:'.jpg' as plant_photo %}
        <li> <img src="{% static plant_photo %}" class="rounded-circle" width="150" > {{ plant.name }}</li>
        {% endwith %}
    {% endfor %}
    </ul>
<p>
Eventy ke dni: {{ date }}
</p>
Eventy:
 <ul>{% for event in events %}
                    <li>
                       {{ event }}: {{ event.description }}

                    </li>
                    {% endfor %}
                </ul>

</p>
<form action="{% url 'garden_detail' garden.id %}" method="post">
    {% csrf_token %}
<label> <input type="date" name="calendar">Vyber datum</label>
    <input type="submit" class="btn btn-outline-secondary" value="Odeslat">
<!--    onclick ajax -->
    </form>
{{ calendar }}

{% endblock body %}