{% extends 'base.html' %}
{% block page_title %}Moje zahrádka: Členství{% endblock page_title %}
{% block body %}

<div class="container">
<br>
<h1>Vyberte si svůj plán:</h1>
<hr>
<div class="row">
{% for object in object_list %}
<div class="col-sm-4 col-md-4">
<div class="card" style="width: 18rem;">
<!-- <img class="card-img-top " src="{{ object.image.url }}" alt="Card image cap"> -->
<div class="card-body">
<h5 class="card-title">{{ object.get_membership_type_display }}</h5>
<p class="card-text">{{ object.desc | linebreaks }}</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"> {{ object.price }} Kč<small>/ rok</small></li>
</ul>
<div class="card-body">
{% if object.membership_type != 'Free' %}
<form method="POST" action="{% url 'membership' %}">
{% csrf_token %}
{% if object.membership_type != current_membership %}
<button class="btn btn-warning">Vybrat</button>
{% else %}
<small>Váš současný program</small>
{% endif %}
<input type="hidden" name="membership_type" value="{{ object.membership_type }}">
</form>
{% endif %}
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock body %}